<h1>コメント編集</h1>

<%= form_for @comment, :url=>{:action=>'update'} do |f| %>
  <%= f.label :content %><br>
  <%= f.text_area :content %><br>
  <% if @comment.errors.any? %> 
  <%= p "文字を入力してください" %>                                             
  <% end %>          
  <%= f.submit %>
<% end %>

<%= link_to '戻る', my_thread_path(@comment.my_thread_id) %>
